<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar color="dark">
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list no-lines>
			<button class="list-item" menuClose ion-item *ngFor="let p of pages" (click)="navigateTo(p)">
				{{p.title}}
			</button>
			<button class="list-item" menuClose ion-item (click)="socialLogin();" *ngIf="!authenticated">
				Login
			</button>
			<button class="list-item" menuClose ion-item (click)="socialLogout();" *ngIf="authenticated">
				Logout
			</button>
		</ion-list>
	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>